[submodule "nvim"]
	path = nvim
	url = git@github.com:Eutrius/dotfiles.git
	branch = nvim-branch
[submodule "tmux"]
	path = tmux
	url = git@github.com:Eutrius/dotfiles.git
	branch = tmux
[submodule "zsh"]
	path = zsh
	url = git@github.com:Eutrius/dotfiles.git
	branch = zsh
