[submodule "nvim"]
	path = nvim
	url = https://github.com/Eutrius/dotfiles.git
	branch = nvim-branch
[submodule "tmux"]
	path = tmux
	url = https://github.com/Eutrius/dotfiles.git
	branch = tmux
[submodule "zsh"]
	path = zsh
	url = https://github.com/Eutrius/dotfiles.git
	branch = zsh
